<header class="header">
    <div class="inner-wrap">
        <div class="inner-logo">
            <a href="#">
                <img src="../assets/image/logo.png" alt="">
                <span>Flashcard Quiz Web</span>
            </a>
        </div>
        <div class="inner-menu">
            <ul>
                <li>
                    <a href="home.html">Trang Chủ</a>
                </li>
                <li>
                    <a href="detail.html">Bộ Thẻ</a>
                </li>
                <li>
                    <a href="study.html">Học Thẻ</a>
                </li>
                <li>
                    <a href="quiz.html">Trắc nghiệm</a>
                </li>
            </ul>
        </div>
        <div class="inner-option">
            <a href=""><i class="fa-regular fa-bell"></i></a>
            <img src="../assets/image/avatar.png" alt="">
        </div>
    </div>
</header>